<launch>

	<node name="joy2twist" pkg="joystick_teleop" type="joy2twist" output="screen"/>

	<node name="l_vel" pkg="finder_bringup" type="vel_ctrl" output="screen">

		<remap from ="lec" to="left_lec"/> 
		<remap from ="offset" to="left_offset"/> 
		<remap from ="pos_des" to="left_vel_des"/>

		<remap from ="ang" to="left_pos"/> 
		<remap from ="vel" to="left_vel"/> 
		<remap from ="out" to="left_out"/>

		<rosparam param ="kp_vel">30</rosparam>
		<rosparam param ="ki_vel">0.1</rosparam>
		<rosparam param ="kd_vel">0</rosparam>
		<rosparam param ="km_vel">20</rosparam>
		<rosparam param ="umbral_vel">0.2</rosparam>
		<rosparam param ="range_vel">150</rosparam>
		<rosparam param ="kierr_vel">0.2</rosparam>
		<rosparam param ="kimax_vel">100</rosparam>
		<rosparam param ="kisum_vel">0</rosparam>

	</node>

	<node name="r_vel" pkg="finder_bringup" type="vel_ctrl" output="screen">

		<remap from ="lec" to="right_lec"/> 
		<remap from ="offset" to="right_offset"/> 
		<remap from ="pos_des" to="right_vel_des"/>

		<remap from ="ang" to="right_pos"/> 
		<remap from ="vel" to="right_vel"/> 
		<remap from ="out" to="right_out"/>

		<rosparam param ="kp_vel">30</rosparam>
		<rosparam param ="ki_vel">0.1</rosparam>
		<rosparam param ="kd_vel">0</rosparam>
		<rosparam param ="km_vel">20</rosparam>
		<rosparam param ="umbral_vel">0.2</rosparam>
		<rosparam param ="range_vel">150</rosparam>
		<rosparam param ="kierr_vel">0.2</rosparam>
		<rosparam param ="kimax_vel">100</rosparam>
		<rosparam param ="kisum_vel">0</rosparam>

	</node>

	<node name="twist2motor" pkg="finder_base" type="twist2motor" output="screen"/>
	<node name="base_node" pkg="finder_base" type="base_node.py" output="screen"/>
	<node name="odometry_node" pkg="odometry" type="odometry.py" output="screen"/>

</launch>
