<?xml version="1.0"?>
<launch>

  <arg name="map_file" default="$(find finder_2dnavigation)/maps/map_circuit2.yaml"/>

  <param name="robot_description" command="$(find xacro)/xacro $(find finder_description)/robot/finder_base_8w.urdf.xacro"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="/joint_states" to="/finder_base/joint_states"/>
  </node>

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find finder_description)/rviz_config/finder_2dnav.rviz"/>
	
  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Run AMCL -->	
  <include file="$(find finder_2dnavigation)/launch/amcl.launch"/>

  <!--- Run Move Base -->
  <include file="$(find finder_2dnavigation)/launch/move_base.launch"/>

</launch>
