<launch>

  <param name="robot_description" command="$(find xacro)/xacro $(find finder_description)/robot/finder_base_8w.urdf.xacro"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="/joint_states" to="/finder_base/joint_states"/>
  </node>

  <!-- SLAM gmapping -->
  <node name="gmapping" pkg="gmapping" type="slam_gmapping" args="scan:=/scan" output="screen">
    <rosparam file="$(find finder_bringup)/params/gmapping_params.yaml" command="load"/>
  </node>

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find finder_description)/rviz_config/slam.rviz"/>

</launch>
