<launch>
	<rosparam param="base_width">0.4</rosparam>
	<rosparam param="ticks_meter">3069</rosparam>

	<node name="l_vel" pkg="finder_bringup" type="pid_velocity.py" output="screen">
		<remap from ="wheel" to="lwheel"/>
		<remap from ="motor_cmd" to="left_wheel_speed"/>
		<remap from ="wheel_vtarget" to="lwheel_vtarget"/>
		<remap from ="wheel_vel" to="lwheel_vel"/> 

		<rosparam param ="kp">100</rosparam>
		<rosparam param ="ki">0</rosparam>
		<rosparam param ="kd">0</rosparam>
		<rosparam param="out_min">-100</rosparam>
      		<rosparam param="out_max">100</rosparam>
		<rosparam param="rate">30</rosparam>
		<rosparam param="timeout_ticks">4</rosparam>
      		<rosparam param="rolling_pts">5</rosparam>
	</node>

	<node name="r_vel" pkg="finder_bringup" type="pid_velocity.py" output="screen">
		<remap from ="wheel" to="rwheel"/>
		<remap from ="motor_cmd" to="right_wheel_speed"/>
		<remap from ="wheel_vtarget" to="rwheel_vtarget"/>
		<remap from ="wheel_vel" to="rwheel_vel"/> 

		<rosparam param ="kp">100</rosparam>
		<rosparam param ="ki">0</rosparam>
		<rosparam param ="kd">0</rosparam>
		<rosparam param="out_min">-100</rosparam>
      		<rosparam param="out_max">100</rosparam>
		<rosparam param="rate">30</rosparam>
		<rosparam param="timeout_ticks">4</rosparam>
      		<rosparam param="rolling_pts">5</rosparam>
	</node>

	<node name="twist2motor" pkg="finder_base" type="twist2motor" output="screen"/>
	<node name="base_node" pkg="finder_base" type="base_node.py" output="screen"/>
	<node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
			<param name="serial_port" type="string" value="/dev/ttyACM1" />
			<param name="frame_id" type="string" value="laser_link" />
	</node>
	<node name="brazo_node" pkg="finder_arm" type="brazo_node.py" output="screen"/>

</launch>
