<launch>

	<param name="robot_description" command="$(find xacro)/xacro $(find finder_description)/urdf/finder.xacro"/>
	<!-- Setting gui parameter to true for display joint sliders -->
	<param name="use_gui" value="true"/>

	<!-- Starting Joint state publisher node which will publish the joint values /-->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find finder_description)/urdf.rviz"/>

</launch>
