<?xml version="1.0"?>
<launch>
	<param name="robot_description" command="$(find xacro)/xacro '$(find finder_description)/robot/finder_base_8w.urdf.xacro'" />

	<!-- combine joint values -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
		<remap from="/joint_states" to="/finder_base/joint_states"/>
	</node>

	<!-- show in Rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find finder_description)/rviz_config/finder_base_gazebo_rviz.rviz"/>

</launch>
