<launch>
<node pkg="exploration" type="map_server.py" name="map_server" respawn="false" output="screen"></node>

<node pkg="exploration" type="pos_robot_server.py" name="pos_robot_server" respawn="false" output="screen"></node>

<node pkg="exploration" type="inflated_map_server.py" name="inflated_map_server" respawn="false" output="screen"></node>

<node pkg="exploration" type="boundary_points_server.py" name="boundary_points_server" respawn="false" output="screen"></node>

<node pkg="exploration" type="points_visualization_server.py" name="points_visualization_server" respawn="false" output="screen"></node>

<node pkg="exploration" type="centroids_server.py" name="centroids_server" respawn="false" output="screen"></node>

<node pkg="exploration" type="Servidor_Seleccion_Objetivo.py" name="Servidor_Objetivo" respawn="false" output="screen"></node>

<node pkg="exploration" type="Servidor_Mover_robot.py" name="Servidor_Mover_robot" respawn="false" output="screen"></node>
</launch>
